div {
    display: inline-block;
    margin: 20px;
}

#tableBlock {
    width: auto;
}

#editBlock {
    display: none;
    float: right;
}

#createBlock {
    float: right;
}

table.custom td {
    padding: 10px 0px;
    height: 10px;
}

div.window {
    background: linear-gradient(to right, lavender, azure);
}